:root {
  --purple: #B084EB;
  --blue-light: #6FC1FF;
  --pink: #FF75B5;
  --blue: #6DB1FF;
  --green: #13FFDC;
  --orange: #FFB86C;
  --light-orange: hsl(36, 100%, 77%);
  --light:  #676B79;
  --white: #f3f3f3;
  --very-dark-grey: #292A2B;
  --grey: #373b41;
}

a {
  text-decoration: none;
}


